.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-yellow {
  color: #efea5d;
}

a {
  font-weight: bold;
  color: #636363;
  transition: color 250ms ease-out;
}

a:hover {
  color: #454545;
}

.highlight-text {
  background-color: #efea5d;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.bg-gray {
  background: transparent linear-gradient(113deg, #454545 0%, #636363 100%) 0%
    0% no-repeat padding-box;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5em 1em;
  color: #3e3e3e;
  background: #efea5d;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 180ms ease-out;
}

.btn:hover {
  transform: translateY(1px);
  color: #1d1d1d;
  background: #d6d020;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#firstSlide {
  display: none;
  transform: translateX(-100%) scale(0.9);
  transition: all 500ms linear;
}
#secondSlide {
  display: none;
  transform: translateX(100%) scale(0.9);
  transition: all 500ms linear;
}
#firstSlide.showing {
  display: block;
  transform: translateX(0) scale(1);
}
#secondSlide.showing {
  display: block;
  transform: translateX(0) scale(1);
}

.container {
  width: 996px;
  max-width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.column-row {
  flex-direction: column;
}

.section-padding {
  padding: 2rem 1rem;
}

.grid-2 > * > *:first-child {
  margin-top: 1rem;
}

@media (min-width: 720px) {
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    align-items: center;
    row-gap: 1rem;
  }
  .grid-2 > * {
    padding: 1rem;
  }
  .grid-2 > * > *:first-child {
    margin-top: 0;
  }
}

.align-top {
  align-self: flex-start;
}
