.offer h3 {
  border-radius: 1rem;
  margin: 0 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  border: 4px solid #efea5d;
}

.offer h3 span {
  display: block;
  text-align: center;
}
.offer h3 .offer-text--big {
  font-size: 90px;
  vertical-align: text-top;
  line-height: 1;
  transform: translateY(-0.5rem);
}
.offer h3 .offer-text--big sup {
  display: inline-block;
  font-size: 1.4rem;
  transform: translateX(-5px) translateY(-0.7rem);
}
.offer h3 .offer-text--middle {
  font-size: 27px;
  margin-bottom: 0.5rem;
}
.offer h3 .offer-text--bottom {
  font-size: 21px;
}
.offer-disclaimer {
  margin: 0;
  font-size: 12px;
  line-height: 1;
}
@media (min-width: 720px) {
  .offers-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(320, 1fr));
  }
}
